{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>
        {% block title %}
            Main page
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="bar">
        <img class="logo" src="{% static 'images/jpg/logo(1).jpg' %}" height="200px" width="320px" alt="olx"/>
        
        {% include 'includes/navbar.html' %} 
        <div id="log">
            {% if request.user.is_authenticated %}
                <a id="lll"href="{% url 'logout' %}">Log out</a>
            {% else %}
                <a id="lll" href="{% url 'login' %}">Log in</a>
            {% endif %}
        </div>
    </div>
        {% block content %}
            {% include 'pages/categories.html' %} 
        {% endblock %}
        {% if request.user.is_authenticated %}
            <p class="more"><a href="{% url 'password_change' %}">Change password</a></p>
        {% endif %}
        {% include 'includes/footer.html' %} 

        
</body>
</html>
<body>