<div class="footer">
    <ul >
        <p> &copy;Copyright all reserved </p>
        <p>Thank you for choosing our online store! We strive to provide you with the best service and quality products. If you have any questions or need help, please contact our support team. We hope for your complete satisfaction with the purchase and wish you a pleasant shopping experience! Sincerely, OLX!</p>
        <a href = "mailto: olxcompany@gmail.com">
            <svg style="color: white" width="45" height="45" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M44 24V9H24H4V24V39H24" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="white"></path><path d="M31 36L36 40L44 30" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="white"></path><path d="M4 9L24 24L44 9" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="white"></path></svg>
        </a>
    </ul>
</div>
