{% extends 'base.html' %}

{% block title %}
    Password Reset Page
{% endblock %}

{% block content %}
    <div class="loggg">
        <h1 id="center">Forgotten your password?</h1>
            <div id="loginout">
                <p>Enter your email address, to set a new password</p>
                <form action="" method="post">
                    {{ form.as_p }}
                    <p id="inp">
                        <input type="submit" value="Send">
                    </p>
                    {% csrf_token %}
                </form>
            </div>
    </div>
{% endblock %}