{% extends 'base.html' %}

{% block title %}
    Reset your password
{% endblock %}

{% block content %}
    <div class="loggg">
        {% if validlink %}
            <div id="loginout">
                <form action="" method="post">
                    {{ form.as_p }}
                    <p id="inp">
                        <input type="submit" value="Change">
                    </p>
                    {% csrf_token %}
                </form>
            </div>
        {% else %}
            <p>
                The password request link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
    </div>
{% endblock %}