{% extends 'base.html' %}

{% block title %}
    Password Change Page
{% endblock %}

{% block content %}
    <div class="loggg">
        <h1 id="center">Change your password</h1>
            <div id="loginout">
                <form action="" method="post">
                    {{ form.as_p }}
                    <p id="inp">
                        <input type="submit" value="Change">
                    </p>
                    {% csrf_token %}
                </form>
            </div>
    </div>
{% endblock %}