{% extends 'base.html' %}
{% load static %}

{% block title %}
    About us
{% endblock title %}

{% block content %}
    <p id="text">
    OLX (English Online Exchange — online exchange) is an online advertising platform that unites people to buy, 
    sell or exchange goods and services. Ads are classified into categories such as "Children's World", "Real Estate",
    "Transport", "Spare parts for transport", "Work", "Animals", "Home and Garden", "Electronics", "Business and Services",
    "Fashion and Style", "Hobbies, Recreation and sports", "I will give for free" and "Exchange". As of 2018, there are 35
    headquarters of the OLX Internet company located in cities such as Buenos Aires, Kiev, Poznan, Tashkent, Bucharest, Sofia,
    Beijing, Almaty, Mumbai and others. More than 330 million people from more than 40 countries visit OLX sites every month.</p>
{% endblock %}